body
{
    background-color: white;
}

html, body
{
    margin: 0;
    padding: 0;
}

hr
{
    margin: 0;  
    border: none;
    height: 2px;
    background-color: gray;
}

header
{
    display: flex;              
    align-items: center;        
    justify-content: space-between;
    padding: 0 20px;             
    font-weight: 700;
    background-color: black;    
    width: 100%;               
    height: 50px;               
    box-sizing: border-box;      
}

header h2
{
    margin: 0;
    color: white;               
}

header nav
{
    display: flex;              
    gap: 20px;
}

header nav a
{
    font-family: 'Segoe UI';
    text-decoration: none;
    color: white;
}

main, form, .content
{
    margin-top: 30px;
}

a
{
    margin-right: 50px;
    font-family: 'Segoe UI';
}

.about-section
{
    width: 80%;
    margin: 30px auto 80px auto;
    text-align: center;
}

.about-section h2
{
    margin-bottom: 20px;
}

.info-box
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #f9f9f9;
    border: 2px solid gray;
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    font-family: 'Arial';
}

.info-box img
{
    width: 180px;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
    margin-left: 20px;
    transition: transform 0.5s;
}

.info-box img:hover
{
    transform: scale(1.05);
}

.info-text
{
    text-align: left;
    flex: 1;
}

p
{
    margin: 10px 0;
    line-height: 1.6;
}

.info-text h3
{
    margin-bottom: 10px;
    color: #333;
}

footer
{
    margin-right: 30px;
    text-align: center;
    background-color: black;
    width: 100%;               
    height: 50px;
    position: fixed;
    bottom: 0;     
    p
    {
        text-align: center;
        color: white;
    }
}
