body{
    background-color: white;
}

html, body {
    margin: 0;
    padding: 0;
}

hr{
    margin: 0;  
    border: none;
    height: 2px;
    background-color: gray; 
}



.main-content {
    flex: 1;
}
header {
    display: flex;              
    align-items: center;        
    justify-content: space-between;
    padding: 0 20px;             
    font-weight: 700;
    background-color: black;    
    width: 100%;               
    height: 50px;               
    box-sizing: border-box;      
}

header h2 {
    margin: 0;
    color: white;                
}

header nav {
    display: flex;              
    gap: 20px;
}

header nav a {
    font-family: 'Segoe UI', sans-serif;
    text-decoration: none;
    color: white;
}

header a
{
    text-decoration: none;
    color: white;
}

a{
    margin-right: 50px;
    font-family: 'Segoe UI';
}


h2 {
    margin: 0 0 15px 0;  
    font-size: 1.6em;
    color: #121212;
}

.profile-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 50px; 
    width: 90%;
    max-width: 1100px;
    margin: 20px auto 80px auto;
}

.left-panel {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.profile-image {
    border: 4px solid black;
    border-radius: 12px;
    padding: 5px;
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    margin-top: 10px;
}

.profile-image img {
    width: 220px;
    height: 220px;
    object-fit: cover;
    border-radius: 8px;
}

.profile-form {
    flex: 1;
}


form {
    background: #fff;
    width: 70%;
    max-width: 600px;
    margin: -10px auto 20px auto;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

form label {
    font-weight: 600;
    margin-bottom: 5px;
    display: inline-block;
    color: #333;
}

.form_input {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    margin-top: 5px;
    transition: all 0.3s ease;
    font-size: 14px;
    box-sizing: border-box;
}

.form_input:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    outline: none;
}


span {
    display: block;
    font-size: 0.85em;
    color: red;
    margin-top: 4px;
}

button {
    padding: 0.6em 1.5em;          
    background-color: #9ff3f3;
    color: #121212;                
    border: none;
    border-radius: 1em;            
    font-size: 0.9em;               
    font-weight: bold;
    cursor: pointer;
    transition: all 0.25s ease;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin-right: 15px;
    margin-top: 10px;
    margin-bottom: 25px;
}

button:hover {
    background-color: #30e3f3;     
    transform: translateY(-2px);
    box-shadow: 0 4px 6px rgba(0,0,0,0.15);
}

button:active {
    transform: translateY(1px);
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}


footer {
    text-align: center;
    background-color: black;
    width: 100%;
    height: 50px;
    position: fixed;
    bottom: 0;
}

footer p {
    text-align: center;
    color: white;
    margin: 0;
    line-height: 50px;
}